.Mycontainer { max-width: 1200px; margin: 0 auto; }
#skills,#projects,#contakt{
    padding-top:60px;
    margin-bottom: 150px;
}

.nomobile{
    display: none;
}
.section{
    margin-top: 20px;
    background:rgb(244, 244, 245);
}
@media only screen and (min-width: 1000px) {
    .nomobile{
        display: flex;
    }
}
