.photo{
    width: 200px;
    padding: 5px;
    display: none;
}
.description{
    text-align: justify;
}
.projectlogo>.logo{
    width: 250px;
}
.projectlogo{
    display: none;
}
.projectDiscription{
    text-align: justify;
}
.projectDiscription>.projectname{
    font-size: 30px;
    font-weight: bolder;
}
.carousel-item>.d-block{
    height: 750px;
}
.carousel-inner{
    position: relative;
}
.showMore{
    width: 100%;
    padding: 10px; 
    background: rgb(172, 172, 172);
}
.carousel-item>.discription{
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    top: 100%;
    opacity: 0.8;
    width: 100%;
    transform: translate(0,-100%);
  }
  .projectsElment{
    margin-top: 5px;
    padding: 25px;
    border-bottom: 1px solid black;
  }

@media only screen and (min-width: 780px) {
    .photo{
        padding-right: 10px;
        display: flex;
        padding: 10px;
    }
    .projectsElment{
        margin-top: 25px;
        padding: 10px;
      }
  }



